.main {
  padding: 3rem 2rem;
}

.title {
  background: black;
  color: #ffe81f;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.characterGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 1600px;
  margin-inline: auto;
  list-style: none;
}

@media (min-width: 600px) {
  .characterGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/* attempted to get the star wars logo outline effect but system fonts had overlapping
   outlines, needs more work */
/* @supports (-webkit-text-fill-color: white) {
  .title {
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffe81f;
  }
} */

.btnBar {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.btn {
  background: transparent;
  border: 3px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  transition: background-color 0.25s ease, color 0.25s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
}

.loading {
  text-align: center;
}
