.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  background: black;
  color: #ffe81f;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 0.75rem;
}

/* attempted to get the star wars logo outline effect but system fonts had overlapping
   outlines, needs more work */
/* @supports (-webkit-text-fill-color: white) {
  .title {
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffe81f;
  }
} */
